/* 
Colors:
Turquoise: 0AFFC3 
Aqua: 09E0E8
Robin's Egg Blue: 03B3FF
Ocean Blue: 096AE8
Dark Blue: 0A34FF
*/

body {
    background-color: dimgray;
    color:0A34FF;
    }
#Header {
    width:100%;
    background-color:none;
    margin: 0;
    min-height: 80px;
}
#Header >h1 {
    margin:0;
    text-align: center;
    font-family: fantasy;
    position: relative;
    transform: translateY(50%)
    }
#nav{
    width:100%;
    background-color:096AE8;
    margin: 0;
    min-height:80px;
    font-family: fantasy;
    height:auto;
    }
#nav > ul{
    transform: translateY(50%);
    text-align: center;
    padding: 0;
    margin: 0;     
}
#nav > ul > button {
    min-width: 120px;
    color: 03B3FF;
    background-color: 0A34FF;
    border: none;
    padding: 15px 32px;
    transition: background-color .25s;
    }
#nav > ul > button:hover {
    background-color: 0AFFC3;
    }
/*
.menu {
    display:flex;
    background-color:blueviolet;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
    }
*/
#middle-wrapper-width {
    display: flex;
    font-family: fantasy;
    max-width: 960px;
    margin: 0 auto;
    }
#middle-wrapper {
    
    }
.side-by-side {
    display: flex; 
    }
#main-content-wrapper .image-content{
    text-align: center;
    width:50%
    margin-top: 50px;
    }
.image-content > img {
    max-width:200px;
    border-radius:50%;
}
.image-content > h4 {
    font-family: fantasy;
    font-weight:300;
    color:purple;
}
.image-content > h4 > a:hover {
    color:rebeccapurple;   
}
.image-content > h4 > a {
       
}
#aside-content-wrapper {
    background-color:crimson;
    width:20%;
    }
footer {
    background-color:coral;
    margin:0;
    }
footer >h1 {
    margin:0;
    }
img{
    max-width:100%;
    height:100px;
}